# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64

https://download.pytorch.org/whl/cpu/torch-1.6.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.7.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
fastai
voila
ipywidgets

